.formControl{
    position: relative;
}

.formControl .error input,
.formControl .error textarea{
    border-color: red;
}
.error span{
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 105%);
}
.error div{
    color: red;
}