
.container{
    padding: 10px;
    position: relative;
}
.messages{
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: auto;
}
.container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
.form textarea{
    max-width: 600px;
    min-width: 600px;
    min-height: 50px;
    border: 1px solid grey;
    resize: both;
    display: flex;
    align-items: center;
}
