.status{
    min-height: 30px;
    min-width: 30px;
    max-width: 500px;
    background-color: #BFE1FF;
}
.status div{
    min-height: 30px;
    min-width: 30px;
}
.status__edit{
    display: flex;
    align-items: center;
}
.status__edit button{
    width: 60px;
    height: 23px;
}