.content__profile {
    display: flex;
}
.content__profile .profile__avatar {
    margin-right: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.content__profile .profile__avatar img {
    width: 100%;
}
.content__profile .profile__description{
    color: #121212;
    background-color: #FFFF8E;
    width: 75%;
    box-sizing: border-box;
    padding: 10px 15px 15px 15px;
    border-radius: 15px;
}
.content__profile .profile__description .description__name {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}
.content__profile .profile__description a {
    color: #121212;
    text-decoration: underline;
}
.content__profile .profile__description .description__info{

}
.content__profile .profile__description .description__item {
    margin-top: 5px;
}
.message_button{
    margin-top: 20px;
}
.message_button button{
    width: 150px;
}
.avatar_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit_button{
    margin-top: 10px;
}